
<div  class="grid p-2 ">

    <div  class="col-12  md:col-6">
        
        <mat-card >
            
            <mat-card-header>
                <mat-card-title>Felipe Ceballos</mat-card-title>
                <mat-card-subtitle>Front-End Developer</mat-card-subtitle>
            </mat-card-header>

            
            <div align="center">
                <img class="max-w-22rem xs:max-w-18rem md:max-w-26rem" src="../.././../../assets/avatarMe.png"alt="">
            </div>
    
            
    
        </mat-card>
    </div>

    
    <div  class="col-12  md:col-6">

        <mat-card >
    
            <mat-card-header >
                <mat-card-title><strong>About Me</strong></mat-card-title>
            </mat-card-header>
    
            <mat-card-content>
            
                <div class="p-2 mt-8">
                    <div class="grid">
                        <div class="row text-justify">
                            <p>
                                Hola, soy Felipe Valdovinos, Desarrollador FullStack, sitiado en Colima, México. Desarrollador del stack MEAN con más de 2 años de experiencia en la industria. E tenido el privilegio de trabajar en aplicaciones web escalables, agradables a la experiencia del usuario lo cual me ayudo a adquirir experiencia.
                            </p>
    
                            <p>
                                Mi camino en el desarrollo ha sido de constante aprendizaje y actualización de los conocimientos. Creo que con las TI podemos llevar nuestras metas al siguiente nivel.
                            </p>
    
                            <p>
                                Platiquemos para explorar tus necesidades y poder trabajar juntos. siéntete libre de mandarme un correo a pipevc98.1@gmail.com o platiquemos por LinkedIn
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
    
            <mat-card-content>
                <div class="grid mt-8 mb-6">
                    <span class="spacer"></span>
                    <div class="auto">
                        <button mat-button *ngFor="let item of appContactMe" class="mt-8">
                            <a href="{{item.url}}" >
                                <img mat-card-image class="max-w-3rem max-w-2rem" src="{{item.image}}" alt="{{item.alt}}">
                            </a>
                        </button>
                    </div>
                    <span class="spacer"></span>
                </div>
            </mat-card-content>
    
        </mat-card>

    </div>


</div>

