
<div class="grid">
    <mat-card class="col-12">
        <mat-card-header>
            <h1>Iniciar Sesión</h1>
        </mat-card-header>

        <mat-card-content class="mt-3">
            <form class="grid" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <!-- Input de Email -->
                <mat-form-field class="col-12">
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <!-- Input de contraseña -->
                <mat-form-field class="col-12">
                    <mat-label>Contraseña:</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <!-- Boton para enviar formulario -->
                <div class="flex ml-3">
                    <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid"><mat-icon>save</mat-icon> Ingresar</button>
                </div>
            </form>
            <div class=" flex justify-content-end">
                <a routerLink="" >Olvide la Contraseña</a>
            </div>
        </mat-card-content>
    </mat-card>

</div>