<div class="fondoHome">

    <div class="grid">

        <div class="col-12 sm:col-7 mt-4 " align="center">
            <h1><strong>Felipe Ceballos </strong></h1>
            <h2>FullStack Developer</h2>

            <img  src="../../../../assets/avatarMe.png" class="max-w-22rem md:max-w-30rem" alt="">
        </div>

        
        <div class="grid col-12 sm:col-5 align-content-center">
            
            <div class="col-12">

                <h3 class="block sm:hidden" align="center"><strong>Trabajemos Juntos</strong></h3>
                <h2 class="hidden sm:block"><strong>Trabajemos Juntos</strong></h2>
    
                <div class="grid">
                    
                    <div class=" col-4 sm:col-12" *ngFor="let item of socialMedia">
                        <span class="spacer"></span>
                        <a class="flex justify-content-center sm:justify-content-start sm:gap-2"  href="{{item.url}}">
                            <img class="max-w-2rem" src="{{item.image}}" alt=""> 
                            <span class="hidden sm:block">{{item.label}}  </span> 
                        </a> 
                        
                    </div>
                </div>
            </div>


        </div>

    </div>

    <mat-divider></mat-divider>

    <app-mail-component></app-mail-component>
    
</div>

