<div class="p-6 ml-4 mr-4">

    <div class="grid">
        <span class="spacer"></span>
        <h1><strong>Resumen</strong></h1>
        <span class="spacer"></span>
    </div>
    
    
    <mat-divider></mat-divider>
    
    <div class="flex flex-column p-2">
        <h3 class="mt-3">Hola! Soy Felipe Valdovinos <strong>FullStack developer</strong></h3>
        <p class="">Soy un apasionado desarrollador web especializado en Angular
            con experiencia en la creación de aplicaciones web dinámicas y
            eficientes. Mi enfoque principal es crear ideas eficientes que
            ofrezcan la mejor experiencia para el usuario</p>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="grid p-2">
    
        <div class="row">
            <mat-list>
                <mat-list-item>
                   - Nombre: Felipe Valdovinos
                </mat-list-item>
                <mat-list-item>
                   - Fecha de Nacimiento : September 9, 1998
                </mat-list-item>
                <mat-list-item>
                   - Ubicación: Colima, Mexico
                </mat-list-item>
                <mat-list-item>
                   - Email : pipevc98.1@gmail.com
                </mat-list-item>
                <mat-list-item>
                   - telefono: +523121766525
                </mat-list-item>
            </mat-list>
        </div>
            <!-- <div class="col-sm-6"><span>Name : </span> Felipe Valdovinos</div>
            <div class="col-sm-6"><span>Date of birth : </span> september 9, 1998</div>
            <div class="col-sm-6"><span>Addres : </span> Colima, México</div>
            <div class="col-sm-6"><span>Email : </span> pipevc98.1@gmail.com</div>
            <div class="col-sm-6"><span>Phone : </span> + 52 312 176 6525</div>
            <div class="col-sm-6"><span>Interested : </span> Front End developer</div> -->
    </div>
        
        <mat-divider></mat-divider>
    
        <h3 class="mt-3"><strong>Profesional</strong></h3>
        <div *ngFor="let item of workExpirence" class="mb-3">
            <label class="progress-bar-label"><strong>{{item.span}}</strong></label>
            <mat-progress-bar mode="determinate" value="{{item.porcentaje}}"></mat-progress-bar>
            <span>{{item.porcentaje}}%</span>
        </div>
    
        <mat-divider></mat-divider>
        <h3 class="mt-3"><strong>Experiencia</strong></h3>
        
        <div class="hgroup">
            <h4><span>- Mis Addendas</span> - Desarrollador Front End</h4>
            <h5> 2021 - Actualidad </h5>
        </div>
        <p>FrontEnd developer - Framework Angular.</p>
        <ul>
            <li>Desarrollo de componentes: Componentes reutilizables para conformar la interfaz del usuario</li>
            <li>Consumo de APIs: Consumo de las APIs del backend para el control de la información</li>
            <li>Creación de rutas: Configuración y creación de las rutas para la navegación entre las paginas</li>
            <li>Mantenimiento y actualización: Corrección u optimización en el código para un mejor funcionamiento</li>
        </ul>


    <mat-divider></mat-divider>

    <div>

        <h3 class="mt-3"><strong>Servicios</strong></h3>
        <h4 class="ml-3">- FullStack Developer</h4>

    </div>
  
    <mat-divider></mat-divider>
    
    <div class="row text-center mt-3">
        <div class="col-md-12 btn-email">
            <p >FullStack Developer - MEAN Stack</p>
            <a class="btn lowercase">pipevc98.1@gmail.com</a>
        </div>
    </div>
</div>
    
