/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.transparente {
    opacity: .6;
}

.carousel {
    overflow: hidden;
}

.spacer {
    flex: 1 1 auto
}

.content {
    padding: 100px 20px 50px;
}

.subheading {
    font-size: 30px;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 30px;
    text-transform: none;
}





a {
    text-decoration: none; /* Elimina subrayado (decoración de enlace) */
    color: inherit; /* Hereda el color del texto actual */
    /* Puedes personalizar otros estilos según tus necesidades */
  }

  .loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: #f2f2f2;
}

.contenedorLogin {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.bgDashboard{
    background-color: #FAFAFA ;
    height: 100vh;
}

.input-full-width {
    width: 100%;
  }

  .fondoHome {
    background-image: url('./assets/nueva-bg.png');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
  }

  .mat-card-image {
    height:11rem;
    min-height: 10rem;
    
  }

  footer {
    background-color: black;
  }

  .fondoOscuro {
    background-color: rgba(0,0,0,.4);
  }